/* Sign-in/up card */
.sign-card {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    margin-top: 12vh;
    /* padding: 10px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
}

/* Sign in part */

.sign-in {
    width: 50%;
    background-image: url("./image/sigh-in-bg.png");
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.sign-in h3 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 15px;
}

.sign-in p {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
}

.sign-in button {
    background-color: #5CDB95;
    color: #05386b;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
}


/* Sign up part: divide yo 3 parts */

#multi-part {
    position: relative;
    width: 50%;
    margin: 0 auto;
    display: none;

    background-color: #fff;
    padding: 25px;
    padding-bottom: 48px;
}

span.prog {
    color: #666;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 15px;
}

/* form */
.form-section {
    position: relative;
    display: none;
    /* margin-top: 45px; */
}

.form-section.current {
    display: block;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
    height: 35px;
}

/* maybe use */
.double-row {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 20px;
}

label {
    margin-right: 10px;
    white-space: nowrap;
}

input {
    flex: 1;
}

.cool-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    z-index: 2;

    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #666;
    background-color: #c8c6c6;
}

.cool-input {
    position: relative;
    height: 100%;
    background-color: #c8c6c6;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.cool-input:focus~.cool-label,
.cool-num-input:focus~.cool-label {
    z-index: -1;
}

.cool-input:not(:placeholder-shown)~.cool-label,
.cool-num-input:not(:placeholder-shown)~.cool-label {
    z-index: -1;
}

.cool-input::placeholder,
.cool-num-input::placeholder {
    z-index: -1;
}

/* Remove Arrow: Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -appearance: textfield;
}

.birthday-group {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    height: 35px;
    margin-bottom: 20px;
}

.cool-num-input {
    height: 100%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #c8c6c6;
    border: none;
    border-radius: 4px;
    /* width: auto; */
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.birthday-group select {
    width: 100px;
    height: 100%;
    background-color: #c8c6c6;
    border: none;
    border-radius: 4px;
    padding: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

#date-birth {
    width: 15%;
}

#month-birth {
    width: 40%;
}

#year-birth {
    width: 15%;
}

.cool-label.year {
    left: 350px;
}

/* button */
.back-button {
    left: 0;
}

.next-button {
    bottom: -70px;
    right: 0px;
}

.form-button {
    position: absolute;

    background-color: #05386b;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    transition: .2s;
    box-shadow: none;
    padding: 10px 25px;
}

.form-button:hover {
    background-color: #05386b;
    box-shadow: #aaa 0px 0px 5px;
    transition: .2s;
}

#register-button {
    right: 0;
}

#close-form {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 5;
    padding: 0;
    width: 30px;
    height: 30px;
    padding: 5px;
    /* width: 15px;
    height: 15px; */
    background-color: #fff;
    /* background-image: url("./image/x.png"); */
}

#close-form>img {
    width: 20px;
    z-index: 6;
    /* border: .2px solid #eee;  */
}

/* sign up caption */
.form-caption h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 32px;
    word-break: normal;
}

.form-caption.cap2 h2 {
    font-size: 28px;
}

.form-caption p {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
}


#sign-in-form {
    position: relative;
    width: 50%;
    margin: 0 auto;
    display: none;

    background-color: #fff;
    padding: 25px;
    padding-bottom: 48px;
}


.login {
    position: absolute;
    width: 460px;
    height: min-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#multi-part.sign-here,
#sign-in-form.sign-here {
    display: block;
}