@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700;800;900&display=swap');

/* Reset default browser styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Apply a box-sizing border-box to all elements */
* {
    box-sizing: border-box;
}

/* Set default font and color */
body {
    font-family: 'Kanit', sans-serif;
    color: #05386B;
    background-color: #5CDB95;
    font-size: 18px;
}

h1 {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
}

/* Apply a max-width and center the content */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Add some basic styles to headings and paragraphs */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

/* Add some basic styles to links */
a {
    color: #05386B;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Add basic styles to buttons */
button,
input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Add basic styles to form elements */
input[type="text"],
input[type="email"],
textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
}

textarea {
    height: 150px;
}

/* Add basic styles to images */
img {
    max-width: 100%;
    height: auto;
}

/* nav bar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
    background-color: #5CDB95;
}

nav>div {
    display: flex;
    align-items: center;
}

.nav-link {
    display: flex;
    list-style: none;
    font-family: 'Prompt', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}

.nav-link li {
    padding-block: 5px;
    padding-inline: clamp(12px, 2vw, 35px);
    /* clamp(min, value, max) */
}

.nav-link li>a {
    letter-spacing: .1rem;
}

li#sign-in {
    background-color: #05386b;
}

li#sign-in>a {
    color: #fff;
}

.logo-group {
    display: flex;
    flex-wrap: wrap;
}

.logo-group>h2 {
    margin: 0;
}

#logo {
    width: 60px;
    height: 100%;
    top: 11px;
    left: -5px;
    /* filter: hue-rotate(210deg); */
}

/* main */
.hero {
    width: 100%;
    height: 93vh;
    display: flex;
    background-color: #5CDB95;
    background-image: url("/image/home-bg.png");
    background-size: 45%;
    background-position: right;
    background-repeat: no-repeat;

    font-family: 'Inter', sans-serif;
    font-weight: 800;

    /* inset: 0px 0px 4px 0px; */
}

.hero::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -5px;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: max-content;
    padding-left: 10%;
    padding-top: 8vh;
    align-items: center;
}

.main-content h1 {
    color: #EDF5E1;
    font-size: 96px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 120px;

    letter-spacing: .15rem;
}

.main-content h4 {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 26px;

}

.link-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
    margin-top: 25px;
}

.link-group>a {
    border-radius: 10px;
    padding: 10px 15px;
    border: solid #05386b 3px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.link-group>button {
    border-radius: 10px;
    padding: 10px 35px;
    background-color: #05386B;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.action {
    width: fit-content;
    background-color: #EDF5E1;
    color: #05386B;
    border-radius: 15px;
    padding: 10px 15px;
    box-shadow: #888 0px 5px 5px;
    transition: .4s;
}

.action:hover {
    text-decoration: none;
    box-shadow: #888 0 8px 8px;
    transition: .4s;
}

.action>h3 {
    font-size: 36px;
    text-align: center;
    padding: 0;
    margin: 0;
}