body {
    background-color: #fff;
}

nav {
    background-color: #fff;
    box-shadow: 0px 3px 3px 0px #aaa;
}

.trade {
    position: relative;
    width: 100%;
    padding: 100px;
}

.change-currency {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.change-caption {
    padding: 5px;
}

.change-caption h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: #05386B;
}

.change-caption h2>span {
    color: #5CDB95;
}

.change-caption h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #666;
}

.change {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.change .currency {
    content: "";
    width: 100%;
    height: 80px;
    background-color: #05386B;
    border-radius: 10px;
    box-shadow: #ccc 0px 4px 4px 0px;
    position: relative;
}

.currency-in {
    color: #5CDB95;
    position: absolute;
    top: 10px;
    left: 10px;

    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 24px;
}

.currency-caption {
    color: #C8C6C6;
    position: absolute;
    top: 50px;
    left: 10px;

    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.digit {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;

    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

#switch-mode {
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #5CDB95;
    font-weight: 800;
}

#buy-btn {
    background-color: #5CDB95;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    height: 40px;
    border-radius: 12px;
    margin-top: 20px;
}